.sidebar {
  width: 250px;
  background-color: var(--sec-background);
  color: var(--pri-text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left var(--transition), box-shadow var(--transition);
  flex-shrink: 0;
  z-index: 10;
  overflow: auto;
  margin-left: -250px; 
}

.sidebar.open {
  margin-left: 0;
}

.sidebar-logo {
  padding: 20px;
  border-bottom: 1px solid var(--sec-text-color);
  text-align: center;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  flex: 1;
}

.nav-link {
  padding: 15px 25px;
  transition: background var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--sec-text-color);
  border-color: var(--accent-hover);
}

.nav-link.active {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.nav-link.logout {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-link.logout > i {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: 0;
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 280px;
    transform: translateX(-100%);
    transition: transform var(--transition);
    z-index: 100;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}